
.icon-star-half:before { content: '\e800'; } /* '' */
.icon-phone:before { content: '\e801'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-skype:before { content: '\f17e'; } /* '' */
.icon-icq:before { content: '\f304'; } /* '' */